<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6BxIzpJBlTjiyRY6cOsnXInTpYzFgdyU</string>
	<key>GCM_SENDER_ID</key>
	<string>471314318797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artinyou.artInyou</string>
	<key>PROJECT_ID</key>
	<string>art-in-you</string>
	<key>STORAGE_BUCKET</key>
	<string>art-in-you.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471314318797:ios:0f2ac78f47569b3bf3f084</string>
</dict>
</plist>